[submodule "XivParty/libs/status"]
	path = XivParty/libs/status
	url = https://github.com/tirem/statuslib
[submodule "XivParty/libs/gdifonts"]
	path = XivParty/libs/gdifonts
	url = https://github.com/ThornyFFXI/gdifonts
